services:
  ewoksweb:
    build:
      context: ./ewoksweb
      args:
        - APP_PORT=${APP_PORT}
    ports:
      - '${APP_PORT}:${APP_PORT}'
    volumes:
      - type: bind
        source: ./resources
        target: /ewoksweb_app/resources
