services:
  ewoksweb:
    build:
      context: ./ewoksweb
      args:
        - APP_PORT=${APP_PORT}
        - REDIS_PORT=${REDIS_PORT}
    ports:
      - '${APP_PORT}:${APP_PORT}'
    volumes:
      - type: bind
        source: ./resources
        target: /ewoksweb_app/resources
    links:
      - 'redis'
  redis:
    build:
      context: ./redis-server
      args:
        - REDIS_PORT=${REDIS_PORT}
  worker:
    build:
      context: ./worker
      args:
        - REDIS_PORT=${REDIS_PORT}
    # Give access to the ewoks_events.db
    volumes:
      - type: bind
        source: ./resources
        target: /ewoksweb_app/resources
    links:
      - 'redis'
